html {
	font-size: 100%;
}

body {
	background-image: linear-gradient(
		to right,
		rgb(248, 113, 133),
		rgb(244, 114, 182)
	);

	min-height: 100vh;
}

.app {
	width: 52rem;
	height: 36rem;

	border: 2px solid black;
	background: rgb(31, 41, 55);

	border-radius: 0.75rem;
}
